html {
	background-color: #908070;
}

a:link, a:visited {
	border-radius: 50px;
	background-color: #708090;
	color: white;
	padding: 25px 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	color: #708090;
	background-color: white;
}

img{
	width: 75px;
}

button {
	padding: 0;
	border: none;
	background: none;
	background-color: #708090;
	outline: none;
}

p {
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

.login{
	padding: 70px 0;
	text-align: center;
}

.player{
	width: 40vw;
	margin: 0 auto;
	padding: 0 0 20px 0;
	background-color: #708090;
}

.buttons{
	display: flex;
	justify-content: space-evenly;
}